<!DOCTYPE html>
<html lang="en">
<head>
	<title>TV JetSki</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://use.fontawesome.com/68789675dd.js"></script>
	
	<script src="javascript.js"></script>
	<link href="main.css" rel="stylesheet">

	<nav class="navbar navbar-default" style="border-radius:0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">TV JetSki</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#" class="scroll-link" data-id="menu">Menu</a></li>
			</ul>
		</div>
	</nav>
</head>
<body ng-app="myApp" ng-controller="myCtrl">	

	<div class="jumbotron text-center">
		<img class = "food" src="jetski.png" alt="$grandma" style="height:500px;">
		<h1>Channel Surfing is over, TV Ski.</h1>
		<div>
			<select id='list' ng-change="GetListings()" ng-model="dropDownValue">
				<option selected disabled>Choose a network!</option>
				<option value='ABC'>ABC</option>
				<option value='CBS'>CBS</option>
				<option value='FOX'>FOX</option>
				<option value='NBC'>NBC</option>
				<option value='ESPN'>ESPN</option>
			</select>
		</div>
	</div>

	<div>
	</div>

		<div class="container text-center">
			<h1>Jet Ski Over to the Best </h1>

			<div ng-repeat="x in shows | orderBy:'-rating'" >
				
				<div class="media">
					<div class="media-left media-top">
						<img src={{x.image}} class="media-object" style="width:200px">
						<h3>Rating: {{x.rating}}</h3>
					</div>
					<div class="media-body">
						<h2 class="media-heading">{{x.name}}</h2>
						<h4>{{x.plot}}</h4>
						<p>Genre(s): {{x.genre}}</p>
					</div>
				</div>
			</div>

		</div>


	</body>
	</html>
